.rowWrapper {
  	display: "inline-flex",
}

.sidebar {
  left: 0;
  z-index: 3;
  display: flex;
}

.content {
    display: 'flex 0 0 auto';
    height:'200px';
    overflow-y:'auto';
    overflow-x:'hidden';
    border:'1px solid grey';
}
