.TlTimeline-rowWrapper {
  display: inline-flex;
}

.TlTimeline-rowSidebar {
  position: relative;
  display: flex;
}

.TlTimeline-rowSidebarSpacer {
  inline-size: var(--tl-row-sidebar-width, 0px);
  flex: 0 0 var(--tl-row-sidebar-width, 0px);
}

.TlTimeline-rowContent {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.TlTimeline-rowContentInner {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
