.TlTimeline-rowWrapper {
  display: inline-flex;
  scrollbar-gutter: stable;
}

.TlTimeline-rowSidebar {
  position: relative;
  display: flex;
}

.TlTimeline-rowSidebarSpacer {
  inline-size: var(--tl-row-sidebar-width, 0px);
  flex: 0 0 var(--tl-row-sidebar-width, 0px);
}

.TlTimeline-rowContent {
  position: relative;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}
