.TlTimeline-rowWrapper {
  display: inline-flex;
}

.TlTimeline-rowSidebar {
  position: relative;
  display: flex;
}

.TlTimeline-rowContent {
  position: relative;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}


