.TlTimeline-item {
  position: absolute;
  inset-block-start: 0;
  touch-action: none;
  inline-size: var(--tl-item-width, auto);
  inset-inline-start: var(--tl-item-inset-start, 0px);
  height: 100%;
}

.TlTimeline-itemContent {
  height: fit-content;
  overflow: hidden;
  padding-inline-start: var(--tl-item-pad-start, 0px);
  padding-inline-end: var(--tl-item-pad-end, 0px);
  height: 100%;
}
