.AxisLabel {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.AxisLabel:dir(ltr) {
  transform: translateX(-50%);
}

.AxisLabel:dir(rtl) {
  transform: translateX(50%);
}
