.TlTimeline-axisLabel {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.TlTimeline-axisLabel--left {
  transform: translateX(-50%);
}

.TlTimeline-axisLabel--right {
  transform: translateX(50%);
}
