.TlTimeline-axisLabel {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;

  left: attr(data-tl-axis-left px);
  right: attr(data-tl-axis-right px);
}

.TlTimeline-axisLabel:dir(ltr) {
  transform: translateX(-50%);
}

.TlTimeline-axisLabel:dir(rtl) {
  transform: translateX(50%);
}
