.labelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;    
  height: 100%;
  box-sizing: border-box;
}

.label {
  font-size: 14px;          
  line-height: 1;
  white-space: nowrap;
  text-align: center;

}

.line {
  width: 1px;
  height: calc(100% - 12px);   
  background: currentColor;
  opacity: 0.7;
}
