.labelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;    
  height: 100%;
  justify-content:center;
  gap:3px;
  border-radius: 10px;
}

.label {
  font-size: 10px;          
  line-height: 1;
  white-space: nowrap;
  text-align: center;
}

.line {
  width: 2px;
  height: calc(100% - 20px);   
  background: currentColor;
  opacity: 0.7;
}
