.TlTimeline-timeAxis {
  position: relative;
}

.TlTimeline-timeAxis[data-tl-time-axis-margin-left] {
  margin-left: attr(data-tl-time-axis-margin-left px);
}

.TlTimeline-timeAxis[data-tl-time-axis-margin-right] {
  margin-right: attr(data-tl-time-axis-margin-right px);
}
