.TlTimeline-timeAxisWrapper {
  display: flex;
  flex: 1 1 auto;
}

.TlTimeline-timeAxisStartElement {
  flex: 0 0 auto;
  inline-size: var(--tl-time-axis-startElement-width, 0px);
}

.TlTimeline-timeAxis {
  position: relative;
  flex: 1 1 auto;
  height: fit-content;
}
