.TlTimeline-simple-item {
  position: absolute;
  inset-block-start: 0;
  height: fit-content;
  touch-action: none;
  inline-size: var(--tl-item-width, auto);
  inset-inline-start: var(--tl-item-inset-start, 0px);
}
