.TlTimeline-simple-item {
  position: relative;
  inset-block-start: 0;
  height: fit-content;
  touch-action: none;
  width: var(--tl-item-width, auto);
  margin-inline-start: var(--tl-item-inline-margin, 0px);
  flex: 0 0 auto;
}
